body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 padding: 0;
  background-color: rgb(150, 44, 44);

  
}


.d{
  height: 100px;
  margin-left: 430px;
  margin-top: 100px;

}

h2{
 width: 400px;
 padding: 20px 20px;
 text-align: center;
 color: rgb(236, 152, 91);
 
  background-color: rgb(106, 148, 63);
  
  border-radius: 20px;

}


.di{
  height: 50vh;
  margin-left: 350px;
  margin-top: 100px;
color: aqua;
}


.heading_style{
  padding: 30px 0;
  text-align: center;
  font-family: "Raleway" ,sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color:  burlywood;
  background-color: rgb(85, 30, 22);
  font-size: 1.5rem;
  margin-bottom: 30px;
  border-radius: 10px;
}





.cards{
  margin-left: 100px;
  width: 100%;
  height: auto;
  
}
.card{
  margin: 40px;
  transition: all 0.4s cubic-bezier(0.175, 0.882, 0, 1);
  background-color: rgb(145, 88, 55);
  width: 22%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0,0,0, 0.1);
  float: left;
}
.card:hover{
  box-shadow: rgb(206, 92, 101);
  transform: scale(1.05,1.05)
}

.card__img{
  width: 100%;
  height: 235px;
  /* border-top-left-radius: 12px;
  border-top-right-radius: 12px; */
  border-radius: 12px;
}


.card__info{
  background-color: rgb(202, 108, 85);
  /* border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; */
  border-radius: 12px;
  height: 120px;
  padding: 16px ;
  text-align:left;

}


.card__category{
  font-family: "Raleway";
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  color: aqua;
  
 }

.card__title{
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: sans-serif;
  color: rgb(34, 27, 26);
  text-transform: capitalize;
}

button{
  line-height: 24px;
  padding: 5px 8px;
  font-family: sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 500;
  color: rgb(29, 16, 41);
  background-color: coral;
  border-radius: 5px;
  outline: none;
  border: 2px solid black;
  cursor: pointer;
}


@media (max-width:768px) {

.card{
  float: none;
  margin: 5%;
  width: 90%;
}

  
}





.slot-inner{
  padding: 10px 10px;
  text-align: center;
  font-family: "Raleway" ,sans-serif;
  color:  burlywood;

}


.slotmachine{
  margin-left: 350px;
  width: 50%;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 0px 23px 10px -7px rgba(170, 133, 133, 0.1);
  

}

.BtH{

  padding: 20px 0;
  text-align: center;
  font-family: "Raleway" ,sans-serif;
  text-transform: uppercase;
  background-color: rgb(126, 93, 89);
  margin-bottom: 30px;
  border-radius: 10px;
  width: 400px;
  margin-left: 450px;

}




.but button{
  padding: 15px 20px;
  background: rgb(105, 68, 105);
  color: white;
  border: 2px solid rgb(54, 51, 51);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px;
}



.but button:hover{
  background-color: rgb(98, 129, 98);
  color: black;
}


.ne{

  padding: 15px 20px;
  background: rgb(160, 30, 160);
  color: rgb(63, 58, 58);
  border: 2px solid rgb(24, 23, 23);
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgb(122, 255, 173);


}

.ni{

  width: 100%;
  height:  200px;

background: lightsalmon;
display: flex;
justify-content: center;
align-items: center;

}

input{
  width: 80%;
  padding: 10px 20px;
  border:2px solid black;
  border-radius: 5px;
  margin: 20px ;
  text-align: center;
}

h1{
  color: aliceblue;
  background: transparent;
  text-shadow: 0 2px 2px black;
}

.BH{

    padding: 10px 0;
    text-align: center;
    font-family: "Raleway" ,sans-serif;
    
    background-color: rgb(151, 126, 124);
    margin: 20px;
    border-radius: 10px;
    width: 500px;
    margin-left: 400px;


}

.po{
  
  padding: 10px 0;
  background-color: rgb(104, 87, 85);
  border-radius: 10px;
  width: 400px;
  margin: 20px  20px 20px 50px ;
  text-align: center;
    
}





.main_div{
  width: 100%;
  height: 100vh;
  background: #6983aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.center_div{
  margin-top: 30px;
  width: 30%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px  rgba(0,0,0, 0.5);
  border-radius: 15px;
}

.hei{
  color: white;
  background: transparent;
  background-color: #8566aa;
  padding:  6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0, 0.3);
  border-radius: 5px;
}

.input1{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500 ;
  width: 60%;
  border-bottom:  2px solid #8566aa;
  outline: none;
}

.button2 {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #8566aa;
  color: white;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0, 0.3);
}

button:hover{
  background-color: green;
}
ol{
  margin-top: 30px;
}


ol li{
  padding-left: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}


.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .fa-times{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  background-color: #8566aa;
  border-radius: 20%;
  margin: 0 15px 0 0px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0, 0.3);
}

.todo_style .fa-times:hover{
  background-color: crimson;
}

.todo_style .fa-times:hover .list_style{
  color: crimson;

}
@media(max-width:768){
  .center_div{
    width: 55%;
  }

  .todo_style .fa-times{
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button2{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: white;
    font-size: 30px;
  }
}